{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Society Management System</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->X
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/nice-select.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/style.css' %}" type="text/css">
</head>


<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
  <!-- Humberger Begin -->
  <div class="humberger__menu__overlay"></div>
  <div class="humberger__menu__wrapper">
      <div class="humberger__menu__logo">
          <a href="#"><img src="" alt=""></a>
      </div>
      <div class="humberger__menu__cart">
          <ul>
              <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
              <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
          </ul>
          <div class="header__cart__price">No. Of order: <span>{{total_orders}}</span></div>
      </div>
      <div class="humberger__menu__widget">
          <div class="header__top__right__language">
              <img src="{% static 'img/language.png' % }" alt="">
              <div>English</div>
              <span class="arrow_carrot-down"></span>
              {{today}}
          </div>
          

          
          {%if user.is_authenticated%}
              <div class="header__top__right__auth">
                  <a href="/logout">Hello,{{request.user}}<i class="hello-msg"></i></a>

                  <a href="/logout"><i class="fa fa-user"></i> Logout</a>
              </div>
          {%else%}
              <div class="header__top__right__auth">
                  <a href="/login"><i class="fa fa-user"></i> Login</a>
              </div>

          {%endif %}
          
          
      </div>
      <nav class="humberger__menu__nav mobile-menu">
          <ul>{% if checkvendor %}:
              <li class="active"><a href="/aboutus/">Home</a></li>
              <li><a href="/Vendor">My order</a></li>
              <li><a href="/feedback">Feedback</a>
                  <ul class="header__menu__dropdown">
                      <li><a href="feedback/add-complain/">Complain</a></li>
                      <li><a href="feedback/add-suggestion/">Suggestions</a></li>
                      
                  </ul>
              </li>
          {% else %}
              <li class="active"><a href="/aboutus/">Home</a></li>
              <li><a href="/myorder">My order</a></li>
              <li><a href="/feedback">Feedback</a>
                  <ul class="header__menu__dropdown">
                      <li><a href="feedback/add-complain/">Complain</a></li>
                      <li><a href="feedback/add-suggestion/">Suggestions</a></li>
                      
                  </ul>
              </li>
          {% endif %} 

          
          <li><a href="/contacts/">Contact</a></li>
      </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
      <div class="header__top__right__social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/societyonfingertips/"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-pinterest-p"></i></a>
      </div>
      <div class="humberger__menu__contact">
          <ul>
              <li><i class="fa fa-envelope"></i> riteshshukla@gmail.com </li>
              <li>10% discount on your first order</li>
          </ul>
      </div>
  </div>
  <!-- Humberger End -->

  <!-- Header Section Begin -->
  <header class="header">
      <div class="header__top">
          <div class="container">
              <div class="row">
                 
                  <div class="col-lg-6 col-md-6">
                      <div class="header__top__left">
                          <ul>
                              <li><i class="fa fa-envelope"></i> contacts@codezy.com</li>
                              <li>Get 25% off on first Services</li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                      <div class="header__top__right">
                          <div class="header__top__right__social">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="https://www.instagram.com/societyonfingertips/"><i class="fa fa-instagram"></i></a>
                              <a href="#"><i class="fa fa-pinterest-p"></i></a>
                          </div>
                          <div class="header__top__right__language">
                              {{today}}
                             
                          </div>
                          {%if user.is_authenticated%}
                              <div class="header__top__right__auth">
                                  <a href="/logout">Hello,{{request.user}}<i class="hello-msg"></i></a>

                                  <a href="/logout"><i class="fa fa-user"></i> Logout</a>
                              </div>
                          {%else%}
                              <div class="header__top__right__auth">
                                  <a href="/login"><i class="fa fa-user"></i> Login</a>
                              </div>

                          {%endif %}
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {%for message in messages%}
      <p id="message">{{message}}</p>
      {%endfor%}
      <div class="container">
          <div class="row">
              <div class="col-lg-3">
                  <div class="header__logo">
                      <a href="/aboutus"><img src="{% static 'Vendor\logo.jpeg' %}" alt=""></a>
                  </div>
              </div>
              <div class="col-lg-6">
                  <nav class="header__menu">
                      <ul>{% if checkvendor %}
                              <li ><a href="/aboutus/">Home</a></li>
                              <li><a href="/Vendor">My Service Request</a></li>
                              <li><a href="/feedback">Feedback</a>
                                  <ul class="header__menu__dropdown">
                                      <li><a href="feedback/add-complain/">Complain</a></li>
                                      <li><a href="feedback/add-suggestion/">Suggestions</a></li>
                                      
                                  </ul>
                              </li>
                          {% else %}
                              <li class="active"><a href="/aboutus">Home</a></li>
                              <li><a href="/myorder">My order</a></li>
                              <li><a href="#">Feedback</a>
                                  <ul class="header__menu__dropdown">
                                      <li><a href="feedback/add-complain/">Complain</a></li>
                                      <li><a href="feedback/add-suggestion/">Suggestions</a></li>
                                      
                                  </ul>
                              </li>
                          {% endif %} 

                          
                          <li><a href="/contacts/">Contact</a></li>
                      </ul>
                  </nav>
              </div>
              <div class="col-lg-3">
               
              </div>
          </div>
          <div class="humberger__open">
              <i class="fa fa-bars"></i>
          </div>
      </div>
  </header>
  <!-- Header Section End -->

    
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Contact Us</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Contact Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4>Phone</h4>
                        <p>7714171400</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>Address</h4>
                        <p>Shimoga</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_clock_alt"></span>
                        <h4>Open time</h4>
                        <p>10:00 am to 23:00 pm</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4>Email</h4>
                        <p>soft@codezy.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Map Begin -->
    <div class="map">
        <iframe
        
		 src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3872.465645670657!2d75.5409461148325!3d13.930857403500436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTPCsDU1JzUxLjEiTiA3NcKwMzInMzUuMyJF!5e0!3m2!1sen!2sin!4v1604846488861!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
            
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="map-inside">
            <i class="icon_pin"></i>
            <div class="inside-widget">
                <h4>SHIMOGA</h4>
                <ul>
                    <li>Phone: 7714171400</li>
                    <li>SHIMOGA</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Map End -->

    <!-- Contact Form Begin -->
    <div class="contact-form spad">
        <div class="container">
            
        </div>
    </div>
    <!-- Contact Form End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: Maheshamunda</li>
                            <li>Phone: 9934813785</li>
                            <li>Email:Ayush@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="aboutus/">About Us</a></li>
                            <li><a href="vendorregister/">Register Yourself as Vendor</a></li>
                            <li><a href="vendorform/">Update Vendor Information</a></li>
                            <li><a href="feedback/add-complain/">Register complain</a></li>
                            <li><a href="feedback/add-suggestion/">Give Your Suggestions</a></li>
                            
                        </ul>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Email Us your thoughts</h6>
                        <p>Get E-mail updates about latest offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved. Developed By Codezy.</p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

   <!-- Js Plugins -->
   <script src="{% static 'js/jquery-3.3.1.min.js'  %}"></script>
   <script src="{%static 'js/bootstrap.min.js' %}"></script>
   <script src="{%static 'js/jquery.nice-select.min.js' %}"></script>
   <script src="{%static 'js/jquery-ui.min.js' %}"></script>
   <script src="{%static 'js/jquery.slicknav.js' %}"></script>
   <script src="{%static 'js/mixitup.min.js' %}"></script>
   <script src="{%static 'js/owl.carousel.min.js' %}"></script>
   <script src="{%static 'js/main.js' %}"></script>
   <script src="{%static 'js/cart.js' %}">     </script>



</body>

</html>